
.d-flex{
    background-color: rgb(254, 254, 255);
}
.navbar{
    padding: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    background:antiquewhite;
}
.container-fluid{
    margin:15px;
}

.flex-shrink-0{
    text-align: center;
}

